.u-section-1 .u-sheet-1 {
  min-height: 617px;
}

.u-section-1 .u-table-1 {
  margin: 57px auto 60px;
}

.u-block-c1a1-46 {
  background-image: none;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-19 {
  background-image: none;
}

.u-section-1 .u-table-cell-25 {
  background-image: none;
}

.u-block-c1a1-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}