 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 39px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 596px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 15px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 75px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 5px 60px 5px 8px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  text-align: center;
  font-weight: 700;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 521px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 491px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 62px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 449px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 337px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-3 {
    min-height: 212px;
  }
}