 .u-section-1 {
  background-image: linear-gradient(to right, #f1b5b8, #e68387);
}

.u-section-1 .u-sheet-1 {
  min-height: 662px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin: 14px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.625em;
  color: rgb(0, 0, 0) !important;
  vertical-align: -2px;
}

.u-section-1 .u-group-1 {
  width: 688px;
  min-height: 656px;
  margin: 4px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 493px;
  width: 570px;
  margin: 39px auto 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  width: 30%;
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  border-style: none;
  padding: 15px 30px;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-size: 1.25rem;
  margin: 14px auto 0;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-btn-2 {
    width: 50%;
    padding-right: 31px;
  }
}